footer {
  width: 100%;
  padding: 0.5em;
  background-color: #666;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  small {
    display: inline-block;
    color: #ddd;
  }

  .session-actions {
    a {
      color: #ddd;
      text-decoration: none;
      margin: 0.5em;

      &:visited {
        color: #ddd;
      }

      &:hover {
        color: #ccc;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  footer {
    small {
      font-size: 0.5em;
    }

    .session-actions {
      font-size: 0.75em;
    }
  }
}
