footer {
  width: 100%;
  padding: 1em;
  background-color: #666;

  small {
    color: #ddd;
  }

  .session-actions {
    float: right;

    a {
      color: #ddd;
      text-decoration: none;
      margin: 0.5em;

      &:visited {
        color: #ddd;
      }

      &:hover {
        color: #ccc;
      }
    }
  }
}
