// Include padding in sizing to make calculations easier
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: Helvetica, Sans-serif;
  margin: 0;
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
}

label {
  display: block;
}

input {
  display: block;
}

code {
  white-space: pre;
  font-family: monospace;
  display: block;

  color: #eee;
  background-color: #333;

  padding: 1em;
  margin: 0.3em;

  border-radius: 4px;
}
