extends ../layout.pug

block content
  section.post-form
    form(action="/posts/"+post.id() method="post")
      .form-group
        h1 Edit Post
      .form-group
        input#post-title(type="text" name="title" placeholder="Title" value=post.title())
      .form-group
        textarea#post-body.code-field(name="body" placeholder="Body (Pug)")= post.body()
      .form-actions
        button.danger.delete(data-resource="/posts/" + post.id()) Delete
        button(type="submit") Save
