extends ../layout.pug

block content
  section.post-form
    form.post(action="/posts" method="post")
      .form-group
        h1 New Post
      .form-group
        input#post-title(type="text" name="title" placeholder="Title")
      .form-group
        textarea#post-body.code-field(name="body" placeholder="Body (Pug)")
      .form-actions
        button(type="submit") Save
        //- button.secondary(type="submit" disabled formaction="/publish") Publish
