extends layout

block content
  section.about
    article.about
      h1 About
      img.me-image(src='/assets/images/avatar.jpg' rel="")

      p Hi! I'm Kyle Smith, a developer at <a href='http://rolemodelsoftware.com'>RoleModel Software</a>. I went through their <a href='http://craftsmanshipacademy.com'>Craftsmanship Academy</a> in 2014 and joined their team full-time the following year, working mainly in NodeJS and Rails.

      p This blog is a place for me to share my thoughts, opinions, and learnings about things related to software development (and sometimes things completely unrelated to software development).
