extends layout

block content
  section.blog
    article
      h1 Article 1
        p Bacon ipsum dolor amet occaecat reprehenderit non incididunt drumstick tenderloin ea beef ribs. Flank nisi pork belly strip steak shoulder, ut proident consectetur t-bone non. Dolor incididunt ex cillum. Pig eiusmod porchetta cow bresaola fatback, magna culpa sausage dolor qui aliqua. Tongue pork belly minim pariatur ex corned beef. Filet mignon magna drumstick dolor shoulder laboris.

        p Capicola cupim non, sirloin jerky est in pariatur in fugiat. Do fugiat turducken ham hock tongue. Consectetur dolore bacon, pork belly proident occaecat beef ribs aute shoulder. Pork belly qui fugiat, elit shoulder velit tri-tip spare ribs exercitation chicken irure dolore ut picanha. Qui culpa exercitation rump swine drumstick pariatur nostrud. Quis ut fugiat et anim picanha.
    article 
      h1 Article 2
        p Bacon ipsum dolor amet spare ribs occaecat tri-tip, voluptate cow meatloaf enim culpa. Reprehenderit porchetta occaecat venison, magna kevin jerky meatball consectetur et boudin nisi quis fugiat. Cow labore ham strip steak reprehenderit andouille jowl cillum veniam. Lorem excepteur sed qui porchetta reprehenderit andouille veniam shoulder.

        p Ex tongue reprehenderit, exercitation dolore sed rump consequat flank voluptate t-bone boudin doner. Sint cow hamburger pig. Brisket exercitation excepteur turducken. Pariatur drumstick t-bone sirloin elit in dolore strip steak spare ribs kevin quis. Drumstick occaecat in cupim adipisicing. Ad magna boudin shankle jowl picanha meatloaf laborum tongue t-bone consequat voluptate.
