extends layout

block content
  section.home
    h2 Latest blog posts

    h2 NOTE: Things here are currently under construction. This is not officially "live" yet.

    ul
      each post in latestPosts
        li
          a(href="/posts/" + post.id())= post.title()
