extends layout

block content
  section.sign_in
    form.sign_in(action="/sessions" method="post")
      .form-group
        label(for="login-email") Email
        input#login-email(type="email" name="email")
      .form-group
        label(for="login-password") Password
        input#login-password(type="password" name="password")
      .form-actions
        input(type="submit" name="sign_in" value="Sign in" ontouchstart="")
